.app-header {
    height: 20px;
    position: relative;
    z-index: 10;
}

.app-header h6 {
    list-style-position: none;
    margin: 0;
    padding: 0;
}

.app-title {
    line-height: 20px;
    vertical-align: middle;
    font-size: 1.35em;
    margin-top: 15px;
    color: #fff;
}


.app-title:hover {
    line-height: 60px;
    vertical-align: middle;
    font-size: 1.35em;
    color: #fff;
}

.app-branding {
    float: left;
}

.app-options {
    float: right;
}

.app-nav ul {
    list-style-position: none;
    margin-bottom: 15px;
    padding: 0;
}

.app-nav ul li {
    list-style-type: none;
    display: inline-block;
}

.app-nav ul li a {
    display: inline-block;
    line-height: 60px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

.app-nav ul li a:hover {
    color: #ffffff;
}

.app-nav ul li a.active {
    color: #fff;
}   