.parallax-container {
    height: 40vh;
    background-image: url('../Course/C++Parallax.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}